

<div id="h">
  <div class="logo">StyleMyVideo</div>


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 centered">
      <h1>Become a video artist.<br/>Upload and style your video now!</h1>

          <%= notice %>


      <div class="mtb">
      <%= link_to "Upload Your Video", new_photo_path, :id => "button_id", :class => "button_class btn btn-conf btn-green" %>
      </div>
    </div>
  </div>
</div>
</div>


<div id="green">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h3>Creativity takes courage.</h3>
              <h5><tgr>HENRI MATISSE </tgr></h5>
            </div>
            <div class="item">
              <h3>Art is not what you see but what you make others see.</h3>
              <h5><tgr>EDGAR DEGAS</tgr></h5>
            </div>
            <div class="item">
              <h3>Every artist was first an amateur.</h3>
              <h5><tgr>RALPH WALDO EMERSON</tgr></h5>
            </div>
            <div class="item">
              <h3>Every child is an artist. The problem is how to remain an artist once we grow up.</h3>
              <h5><tgr>PABLO PICASSO</tgr></h5>
            </div>
          </div>
        </div><!--/Carousel-->

      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/green-->
</div>
</div>
<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>HELLO@StyleMyVideo.COM</h5>
